
<div id="calendar"></div>
<div id="gantt"></div>
<script type="text/javascript">

    var calendar = $('#calendar');

    $(document).ready(function() {
        var url = '@Url.Action("GetEvents", "Calendar")';

        $.post(url,
            function(data) {

                // page is now ready, initialize the calendar...
                calendar.fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month'
                    },
                    eventSources: [
                        {
                            events: data
                        }
                    ]
                });

            });


        var url = '@Url.Action("GetEventsForGantt", "Calendar")';

        $.post(url,
            function (data) {

                

            });


    });

    function GetCalendar() {

        return $('#calendar');

    }

</script>