@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Mixed Culture Tool</h2>
    <p class="lead">Anbau in Harmonie mit der Natur.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Datenbank</h2>
        <p>
            Nachschlagewerk für Nutzplfanzen und Lebenwesen.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gartenplaner</h2>
        <p>
            Im Bezug auf Mischkultur hilft der Gartenplaner bei der Bepflanzug.
        </p>
    </div>
    
</div>