@model IEnumerable<MCT.Web.Models.InteractionModel>

<p>
<div class="fa fa-plus mct-button-icon" onclick="addInteraction(this)"></div>
</p>
<table id="interactions-table" class="table interactions-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Indicator)
        </th>
        <th>
            Subjekt
        </th>
        <th>
            Prädikat
        </th>
        <th>
            Objekt
        </th>
        <th>
            Nebenobjekt
        </th>
    </tr>

        @foreach (var item in Model)
        {
            @Html.EditorFor(modelitem =>item)
            
        }

</table>
