@model IEnumerable<MCT.Web.Models.InteractionModel>

<p>
<div class="fa fa-plus icon" onclick="addInteraction(this)"></div>
</p>
<table class="table interactions-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Indicator)
        </th>
        <th>
            Subject
        </th>
        <th>
            Predicate
        </th>
        <th>
           Object
        </th>
        <th>
            ImpactObject
        </th>
    </tr>

@foreach (var item in Model) {
    @Html.Partial("Interaction", item);
}
</table>

