@model List<List<TimePeriodModel>>
@using MCT.Web.Models

<div id="lifecylce-list-container">
    <ul id="lifecycle-list">
        @foreach (var item in Model)
        {
            <li class="lifecycle-li">
                @Html.Partial("TimePeriods", item);

                <div class="col-md-1"><div class="fa fa-trash icon" onclick="removeLifeCycle(this)" /></div>
            </li>

        }
    </ul>

    <div class="fa fa-plus mct-button-icon" onclick="addLifeCycle(this)"></div>

</div>

<style type="text/css">

    li.lifecycle-li {
       border:solid 1px;
    }

</style>