@model List<List<TimePeriodModel>>
@using MCT.Web.Models

<div id="lifecylce-list-container">
    <ul id="lifecycle-list">
        @foreach (var item in Model)
        {
        <li class="lifecycle-li bs-callout bs-callout-info">
            @Html.Partial("TimePeriods", item)
        </li>

        }
    </ul>

    <div class="fa fa-plus mct-button-icon" onclick="addLifeCycle(this)"></div>

</div>
