@model List<MCT.Web.Models.SimpleLinkModel>
@using MCT.Web.Models

<div class="simplelinkmodel-list-container">

    <ul class="simplelinkmodel-list">
        @foreach (var item in Model)
        {
            <li class="simplelinkmodel-li">
                @Html.EditorFor(modelItem => item)
            </li>
        }
    </ul>
    @*@Html.Partial("SimpleLinkModel", new SimpleLinkModel())*@
    <div class="fa fa-plus icon" onclick="addSimpleLink(this)"></div>
</div>