@using MCT.DB.Entities
@using AjaxOptions = System.Web.Mvc.Ajax.AjaxOptions
@model MCT.Web.Models.AnimalModel
@{
    ViewBag.Title = "Animal";
}

<div id="animal">
    @using (Ajax.BeginForm("X", "Subject", new AjaxOptions
    {

    }))
    {
        @Html.Partial("NodeEdit", Model)

        <div class="row bs-callout bs-callout-animal" >
            <div >
                <h4>Termine <span class="containerSwitch fa fa-angle-double-up"></span> </h4>
            </div>

            <div class="content panel-body">
                @Html.EditorFor(model => model.LifeCycles)
            </div>
        </div>

        <p>
            <button type="submit" class="fa fa-save mct-button-icon" onclick="saveAnimal()"></button>

            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
            @Html.ActionLink("Back to List", "Search", "Search")
        </p>

        <script type="text/javascript">
            
            $(document)
                .ready(function() {

                    //convert interactions table to a cool table
                    $('#example').DataTable();

                    //ac = autocomplete
                    $.get("/Subject/GetAllSubjects",
                        function(response) {

                            $(".mct-ac-subjects")
                                .autocomplete({
                                    source: response
                                });
                        },
                        "json"
                    );

                    $.get("/Subject/GetAllScientificNamesResult",
                        function(response) {

                            $(".mct-ac-scientificnames")
                                .autocomplete({
                                    source: response
                                });
                        },
                        "json"
                    );
                });

        </script>

        <style type="text/css">
            .row {
                margin-bottom: 20px;
            }

            .speciesImage {
                width: 390px;
                height: 390px;
                text-align: center;
            }
        </style>

    }
</div>