@model MCT.Web.Models.AnimalModel

@{
    ViewBag.Title = "Animal";
}

<div id="aminal">
    @Html.Partial("NodeDetails",Model)
</div>

@*Dates*@
<div class="row  bs-callout bs-callout-animal">
    <div >
        <h4>Termine <span class="containerSwitch fa fa-angle-double-up"></span> </h4>
    </div>

    <div class="content panel-body">
            @if (Model.LifeCycles.Any())
            {
                <div id="ganttTermine"></div>
            }
    </div>
</div>

<script type="text/javascript">
            $(document).ready(function () {



                //load gantt
                var url = '@Url.Action("GetEventsForGantt", "Subject", new {id = @Model.Id})';

                $.post(url,
                    function (data) {

                        console.log(data);

                        $("#ganttTermine").gantt({
                            source: data,
                            scale: "weeks",
                            minScale: "weeks",
                            maxScale: "months",
                            itemsPerPage: 50,
                            navigate: "scroll",
                            months: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                            onItemClick: function (data) {
                                alert("Item clicked - show some details");
                            },
                            onAddClick: function (dt, rowId) {
                                alert("Empty space clicked - add an item!");
                            },
                            onRender: function () {
                                console.log("chart rendered");
                            }
                        });


                        //$(".content")
                        //    .each(function () {
                        //        $(this).toggle();
                        //    });
                    });
            })

</script>