@model IEnumerable<MCT.Web.Models.InteractionModel>

<p>
    @*<div class="fa fa-plus icon" onclick="addInteraction(this)"></div>*@
</p>
<table class="table interactions-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Indicator)
        </th>
        <th>
            Subjekt
        </th>
        <th>
            Prädikat
        </th>
        <th>
            Objekt
        </th>
        <th>
            Nebenobjekt
        </th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.DisplayFor(modelItem => item)
    }
</table>