@model List<TimePeriodModel>
@using MCT.Web.Models
@using MCT.DB.Entities

@{ 
    string type = "timeperiod";
    string listId = type + "-list";
}

<div class="timeperiod-list-container">
    <ul id="@listId" class="dl-horizontal timeperiod-list">

        @if (Model != null)
        {

            foreach (var item in Model)
            {
                <li class="timeperiod-li">
                    @Html.DisplayFor(modelItem => item)

                </li>
            }
        }

    </ul>

    @*<div class="fa fa-plus icon" onclick="addTP(this)"></div>*@
</div>
