@model List<MCT.Web.Models.PlantModel>

<div id="searchResultContent">
    @*<div id="numberOfResults">
        Anzahl der gefundenen Species : @Model.Count
    </div>*@

    @*@foreach (var species in Model)*@
    <div id="patch-planer-search-result-content-rows" class="row">

        <ul class="media-list">
            @foreach (var item in Model)
            {
                <li> @Html.Partial("_plantPartialView", item)</li>

            }
        </ul>
        
    </div>
</div>

<style type="text/css">
    #patch-planer-search-result-content-rows {

        height:60vh;
        
        overflow:auto;
    }
</style>