@model MCT.Web.Models.PatchPlaner.PatchModel

<button id="add">neue Pflanze </button>
<button id="plus">zoom in </button>
<button id="minus">zoom out </button>

<button id="scrolleft">scroll left</button>
<button id="scrollright">scrol right </button>

<div id="svgContainer" width="1000" height="600" style="overflow:auto; border:1px,solid; cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
    <svg id="x" width="2000" height="600" enable-background="true">
        @foreach (var p in Model.Placements)
        {
            @Html.Partial("Placement", p);
        }

    </svg>
</div>


