@model MCT.Web.Models.PatchPlaner.PatchModel

<button id="plus" class="btn btn-default fa fa-search-plus"></button>
<button id="minus" class="btn btn-default fa fa-search-minus"></button>

<button id="scrolleft" class="btn btn-default">scroll left</button>
<button id="scrollright" class="btn btn-default">scrol right </button>
<button id="savePatchBt" class="btn btn-default fa fa-save" disabled="disabled" onclick="save()"></button>

<div id="svgContainer" oncontextmenu="return false;"
     class="patch-planer-patch-container"
     onclick="dragContainer(this)"
     style="overflow:auto; border:1px,solid; cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
    <svg id="x" width="@Model.Width" height="@Model.Height" enable-background="true">
        @foreach (var p in Model.Placements)
        {
            @Html.Partial("Placement", p);
        }

    </svg>
</div>



