body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select
{
    max-width: 280px;
}

textarea {
    min-height: 100px;
}

li {list-style-type: none}

/*SEARCH*/

#SearchHeaderTable TD
{
    padding-right: 10px;
}
#searchBreadcrumb {padding: 20px 0 20px 0;}
.breadCrumbItem {padding-right: 10px;}

/*Species Details View*/

.name {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    margin-top: 20px;
    height: 70px;
}

.headerplant {
    border-top: solid 2px yellowgreen;
    margin-top: 20px;
    height: 70px;
} 

.headeranimal {
    border-top: solid 2px darkorange;
    margin-top: 20px;
    height: 70px;
}

.detailsBtnplant {
    background-color: yellowgreen;
    color: white;
}

.detailsBtnplant:hover {
    background-color: #81cd66;  
    color: white;
}  
   
.detailsBtnanimal {
    background-color: darkorange;
    color: white;
}

.detailsBtnanimal:hover {
    background-color: orange;  
    color: white;
}  

.speciesImage {
        
    width:  260px;
    height: 260px;
    text-align: center;
}

.details {
    text-align: justify;
    height: 200px;
    margin: 3px;
}

.icon {
    font-size: 20px;
    padding:5px
}