@model List<MCT.Web.Models.Search.SpeciesModel>
<div id="searchResultContent" class="row">
    @foreach (var species in Model)
    {
        @Html.Partial("_speciesPartialView", species);
    }
</div>