@{
    int count = 0;
}
@model Dictionary<string, string>

<div id="searchBreadcrumbContent">

    @foreach (KeyValuePair<string, string> kvp in Model)
    {
        if (Model.Count > count)
        {
            <span><b>@kvp.Key</b> : @kvp.Value</span>
        }
    }

</div>
