@{
    
    
}
@model MCT.Web.Models.Search.SubjectModel
@using MCT.Web.Models;

<div class="item @Model.Type.ToString().ToLower()">
    <b class="name">@Model.Name</b>
    <img src="~/Images/Empty.png" width="100" height="100"/>
    <div class="details" hidden="hidden">
        <p class="description">@Model.Description</p>
        <p class="type">@Model.Type.ToString()</p>
    </div>
</div>


<style type="text/css">
    .item {
        border-top-style: solid;
        width: 100px;
        height: 120px;
    }

    .item.effect {
        background-color: greenyellow;
    }

    .item.plant {
        background-color: lightskyblue;
    }

    .item.animal {
        background-color: darkorange;
    }

        .item.gigante {
          width: 200px;
          height: 300px;
          background: #F80;
        }

        .item:hover {
          background: #EEE;
          cursor: pointer;
        }
</style>
