@model List<MCT.DB.Entities.Sowing>
@using MCT.DB.Entities;

@{
    string listId = "sowing-list";
}


<ul id="@listId" class="dl-horizontal">
    @foreach (var item in Model)
    {
        <li>
            @Html.EditorFor(modelItem => item)

        </li>
    }
</ul>
<ul>
    <li>
        <div class="fa fa-plus icon" onclick="addSowing()"></div>
    </li>
</ul>
<script type="text/javascript">

    $(function() {
        addSowing();
    });


    function addSowing()
    {
        var newElement = $('<li>');

        //getEmptySowingView
        $.get("/Search/GetEmptySowing", function (data) {

            newElement.prepend($(data));
            $("#sowing-list").append(newElement);

        });
    }

</script>