@{
    int count = 0;
}
@model Dictionary<string, string>

<div id="searchBreadcrumbContent">

    @foreach (KeyValuePair<string, string> kvp in Model)
    {
        if (Model.Count > count)
        {
            <span class="breadCrumbItem">| <b>@kvp.Key</b> : <a id="@kvp.Key" onclick="clickBreadcrumb(this)">@kvp.Value</a> </span>
        }
    }

</div>

<script type="text/javascript">

    function clickBreadcrumb(e)
    {

        var url = '@Url.Action("DeleteSearchCriteria", "Search")';
        $.post(url, { key: e.id},
        function (data) {
            if (data === true)
                UpdateSearch();
                UpdateBreadcrumb();
        });

    }

</script>