@{
    int count = 0;
}
@model List<BreadcrumbModel>
@using MCT.Web.Models.Search;

<div id="searchBreadcrumbContent">

    @foreach (BreadcrumbModel m in Model)
    {
        if (Model.Count > count)
        {
            <span class="breadCrumbItem">| <b>@m.DisplayName</b> : 
            <button id="@m.Key" onclick="clickBreadcrumb(this)"  class="btn btn-default btn-sm" >
                @m.DisplayValue
            </button> </span>
        }
    }

</div>

<script type="text/javascript">

    function clickBreadcrumb(e) {

        var url = '@Url.Action("DeleteSearchCriteria", "Search")';
        $.post(url, { key: e.id },
            function(data) {
                if (data === true)
                    UpdateSearch();
                UpdateBreadcrumb();
                ClearSearchInput();

            });
    }

</script>