@{
    ViewBag.Title = "Search";
}
@model MCT.Web.Models.Search.SearchModel

<h2>Search</h2>

<input type="search" id="searchInput" class=" form-control" placeholder="search...">
<br />
<div class="button-group js-radio-button-group">
    <button class="btn btn-primary" onclick="OnClick(this)">Animal</button>
    <button class="btn btn-primary" onclick="OnClick(this)">Effect</button>
    <button class="btn btn-primary" onclick="OnClick(this)">Plant</button>
    <button class="btn btn-primary" onclick="OnClick(this)">All</button>
    
</div>
<br />

<div class="row">
    @foreach (var subject in Model.Subjects)
    {
        @Html.Partial("_subjectPartialView", subject);
    }
</div>

<script type="text/javascript">


        function OnClick(e)
        {

        }

        $("#searchInput").change(function search(e) {

            var searchInput = e.currentTarget.value;

        });

</script>
