
<br/>
<br/>

<table id="interactions-table" class="table interactions-table display dataTable">
    <thead>
    <tr>
        <th>Id</th>
        <th>Subject</th>
        <th>Predicate</th>
        <th>Object</th>
        <th>ImpactObject</th>
        <th>Indicator</th>
        <th></th>
    </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Id</th>
            <th>Subject</th>
            <th>Predicate</th>
            <th>Object</th>
            <th>ImpactObject</th>
            <th>Indicator</th>
            <th></th>
        </tr>
    </tfoot>
</table>

<script>
    $(document)
        .ready(function () {
            var table = $('#interactions-table')
                .DataTable(
                {
                    language: {
                        "decimal": "",
                        "emptyTable": "Es sind keine Daten vorhanden.",
                        "info": "Zeige _START_ bis _END_ von _TOTAL_ Einträgen",
                        "infoEmpty": "Zeige 0 bis 0 von 0 Einträgen",
                        "infoFiltered": "(von insgesamt _MAX_ Einträgen gefiltert)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Zeige _MENU_ Einträge",
                        "loadingRecords": "Wird geladen...",
                        "processing": "Wird bearbeitet...",
                        "search": "Suche:",
                        "zeroRecords": "Keine passenden Ergebnisse gefunden",
                        "paginate": {
                            "first": "erstes",
                            "last": "letztes",
                            "next": "nächstes",
                            "previous": "vorheriges"
                        },
                        "aria": {
                            "sortAscending": ": Aktiv, um die Spalte aufsteigend zu sortieren",
                            "sortDescending": ": Aktiv, um die Spalte absteigend zu sortieren"
                        }
                    },
                    processing: true,
                    serverSide: true,
                    ajax: {
                        "url": "/Interaction/Load",
                        "type": "POST"
                    },
                    columns: [
                    { data: 'Id', Name: "Id" },
                    { data: 'Subject.Name', Name: "Subject" },
                    { data: 'Predicate.Name', Name: "Predicate" },
                    { data: 'Object.Name', Name: "Object" },
                    { data: 'ImpactSubject.Name', Name: "Impact Subject" },
                    { data: 'Indicator', Name: "Indicator" },
                    {
                        targets: [7],
                        render: function(data, type, row) {
                            console.log(row);
                            return "<button class=\"mct-grid-bt btn btn-default\"><a href=Edit/" + row.Id + ">Editieren</a></button> <button class=\"mct-grid-bt btn btn-default\"> <a href=Delete/" + row.Id + ">Löschen</a></button>";
                        }

                    }
                    ]
                });

            //$("#interactions-table tbody").on("click", "button", function () {

            //    var data = table.row($(this).parent('tr')).data();
            //    console.log(data[0]);

            //});
        });

  
</script>
<style type="text/css">
    .mct-grid-bt {
        text-decoration:none;
        padding:2p;
        margin:2px;
    }
</style>

