<h1>SVg Test</h1>

<svg id="x" width="100%" height="800" enable-background="true" >
    @*<g>
        <rect width="100" height="450" x="100" y="100" fill="red"></rect>
        <text id="VL_temp" xml:space="preserve"  sodipodi:linespacing="100%" x="140" y="160" fill="white" font-family="Verdana" font-size="35"><tspan>BK</tspan></text>    
        <line id="line1" x1="500" y1="600" x2="600" y2="300" stroke="#ccc" stroke-width="20"></line> 
    </g>*@  
    
    <g id="RectTextTest">
        <rect id="r" x="0" y="0" width="100" height="100" stroke="red" stroke-width="3px" fill="#eeeeee" />
        <text x="50" y="50" alignment-baseline="middle" text-anchor="middle" fill="green" font-size="35" font-weight="bolder">BK</text>
    </g> 
</svg>

<style type="text/css">
    #RectTextTest {
        cursor:move;
    }
</style>

@section scripts{
<script type="text/javascript">

    var s = Snap("#x");

    var gridSize = 40;
    var orig = { x: 0, y: 0 };

    var rect = s.rect(100, 100, 50,50);

    var testObj = s.select("#r");
    
    testObj.drag(
    function (dx, dy, x, y, e) {
        var xSnap = Snap.snapTo(gridSize, orig.x + dx, 1000000000);
        var ySnap = Snap.snapTo(gridSize, orig.y + dy, 1000000000);
        this.attr({ x: xSnap, y: ySnap })
    },
    function (x, y, e) {
        orig.x = e.toElement.x.baseVal.value;
        orig.y = e.toElement.y.baseVal.value;
    });


    var bigCircle = s.circle(100, 100, 50);
    var t1 = s.text(50, 50, "Snap");

    var x = s.group(bigCircle, t1);
    x.drag();

</script>
}